tap "goles/battery"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "jondot/tap"

cask "iterm2"
cask "screens"
cask "tower"
cask "handbrake"

# if laptop, additional stuff below

{{- if (.laptop) -}}
# adding extra items to the file
cask "1password"
cask "zulu11"
cask "adoptopenjdk/openjdk/adoptopenjdk8"
cask "airbuddy"
cask "airfoil"
cask "alfred"
cask "android-platform-tools"
cask "android-sdk"
cask "audio-hijack"
cask "backblaze"
cask "caffeine"
cask "carbon-copy-cloner"
cask "cardhop"
cask "docker"
cask "elgato-control-center"
cask "elgato-stream-deck"
cask "firefox"
cask "flipper"
cask "google-chrome"
cask "handbrake"
cask "iterm2"
cask "jetbrains-toolbox"
cask "kaleidoscope"
cask "keyboard-maestro"
cask "keyboardcleantool"
cask "loopback"
cask "luna-display"
cask "maestral"
cask "menubar-stats"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "microsoft-teams"
cask "moom"
cask "ngrok"
cask "obs"
cask "postman"
cask "screens"
cask "scrivener"
cask "setapp"
cask "sketch"
cask "slack"
cask "soundsource"
cask "suspicious-package"
cask "textexpander"
cask "tower"
cask "vlc"
cask "zoom"
cask "bunch"


mas "CARROT Weather", id: 993487541
mas "Deliveries", id: 924726344
mas "Drafts", id: 1435957248
mas "Fantastical", id: 975937182
mas "Grammarly for Safari", id: 1462114288
mas "HomeControl", id: 1547121417
mas "Hush", id: 1544743900
# mas "Keynote", id: 409183694
# mas "Microsoft Excel", id: 462058435
# mas "Microsoft PowerPoint", id: 462062816
# mas "Microsoft Word", id: 462054704
# mas "Numbers", id: 409203825
mas "OmniFocus", id: 1346203938
# mas "Pages", id: 409201541
mas "PiPifier", id: 1160374471
mas "Pocket", id: 568494494
mas "Reeder", id: 1529448980
mas "Sorted", id: 1306893526
mas "Speedtest", id: 1153157709
mas "Xcode", id: 497799835

{{ end -}}
